* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/bg/contact-us-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}