* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg/contact-us-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 5rem;
    box-sizing: border-box;
    background-color: #418FDE;
}

.logo {
    float: left;
    margin-top: 0.2rem;
    margin-left: 10rem;
}

nav {
    margin: 0 auto;
    clear: both;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-align: center;

}

nav>a {
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #84AD21;
    padding: 1.2rem;
    border-radius: 48px;
    font-size: 1.1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
}

.mid-center {
    display: flex;
    margin: 2rem;
    padding: 3rem;
    background: linear-gradient(90deg, #84AD21 0%, #FFFFFF 100%);
    border-radius: 3rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgb(17, 17, 17);

}

strong {
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 2rem;
}

strong span {
    display: block;
}

.top-left {
    margin: 2rem;
    padding: 1.5rem;
    background: linear-gradient(180deg, #84AD21 0%, #FFFFFF 100%);
    border-radius: 3rem;
    font-family: gotham black, Helvetica, sans-serif;
    font-size: 2rem;

}

fieldset.gridform1{
    display: grid;
    grid-template-columns: 30rem 0.5fr;
    gap: 1rem;
}

input[type="radio"] {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
    background-color: white;
}

input[type="radio"]:checked {
    background-color: #000;
}

input[type="radio"]#demandeurd-emploi{;
}

.top-left>fieldset>legend {}

.top-left>fieldset>label{

}