* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg/contact-us-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 5rem;
    box-sizing: border-box;
    background-color: #418FDE;
}

.logo {
    float: left;
    margin-top: 0.2rem;
    margin-left: 10rem;
}

nav {
    margin: 0 auto;
    clear: both;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-align: center;

}

nav>a {
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #84AD21;
    padding: 1.2rem;
    border-radius: 48px;
    font-size: 1.1rem;
}


fieldset {
    border: none;
}


/* MAIN GRID */

.main-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%; 
    justify-content: center;
    gap: 1rem;             
    height: 80vh;
    margin: 2rem;
}


/*              CONTACTEZ-NOUS               */

.mid-center {
    grid-column: 2;
    grid-row: 1;
}

.cell-mid-center{
    margin: 0rem;
    padding:  2rem;
    background: linear-gradient(90deg, #84AD21 0%, #FFFFFF 100%);
    border-radius: 3rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgb(17, 17, 17);
    text-align: center;
}

strong {
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 1.5rem;
}

strong span {
    display: block;
}

/*                   VOTRE SITUATION                 */

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.cell-top-left{
    padding: 1rem;
    background: linear-gradient(180deg, #84AD21 0%, #FFFFFF 100%);
    border-radius: 3rem;
    font-family: gotham black, Helvetica, sans-serif;
    font-size: 1.3rem;
    width: 24rem;
    overflow: hidden;
}

fieldset.gridform1 {
    display: grid;
    grid-template-columns: 19rem 2rem;
    gap: 1rem;
}

input[type="radio"] {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
    background-color: white;
    justify-self: end;
}

input[type="radio"]:checked {
    background-color: #000;
}

.top-left>fieldset>legend {
    margin: 0 5rem 2rem;
}

.top-left>fieldset>label {
    margin-left: -1rem;
}

/*                  NOM EMAIL NUM REGION                 */

.bottom-center{
    grid-column: 2;
    grid-row: 2;
}

.cell-bottom-center{
    padding: 1.5rem;
    border: white solid 0.2rem;
    border-radius: 3rem;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 1.3rem;
    height: 15rem;
    width: 25rem;
    line-height: 4rem;
}

input[type="text"] {
    width: 10%;
    margin-left: 1rem;
}

input[type="email"] {
    width: 10%;
    margin-left: 1rem;
}

input[type="tel"] {
    width: 10%;
    margin-left: 1rem;
}

select {
    width: 10%;
    margin-left: 1rem;
    font-family: sans-serif;
}

.tel>label {
    width: 19rem;
    line-height: 1.5rem;
    display: inline-block;
}

/*              MODALITES                */

.right-top {
    grid-column: 3;
    grid-row: 1;
}

.cell-right-top{
    padding: 1rem;
    background: linear-gradient(180deg, #84AD21 0%, #FFFFFF 100%);
    border-radius: 3rem;
    font-family: gotham black, Helvetica, sans-serif;
    font-size: 1.3rem;
    height: 16.5rem;
    width: 80%;
}

fieldset.gridform2 {
    display: grid;
    grid-template-columns: 17rem 2rem;
    grid-template-rows: 2rem 0rem 3.5rem;
    gap: 1.3rem;
    line-height: 1.5rem;
}

.cell-right-top>fieldset>legend {
    text-align: center;
    margin-bottom: 1rem;
}

.cell-right-top>fieldset>label {
    margin-left: -1rem;
}

input[type="radio"]#distanciel {
    border: none;
    background-color: transparent;
}

/*          BOUTON ENVOYER           */

.send {
    margin-top: 5rem;
    font-family:Arial black, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: none;
    border: white solid 0.2rem;
    padding: 1.5rem 8rem;
    border-radius: 3rem;
    cursor: pointer;

}

.grid-send{
    grid-column: 3;
    grid-row: 2;
}